<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="teacherHeader(teacher)">
    <header>
        <h1>
            <span th:text="${teacher.name}">Teacher Name</span>
            <span th:if="${teacher.headOfDepartment}" class="head-of-department">
                (Head of Department)
            </span>
        </h1>
        <span class="department" th:text="${teacher.departmentName}">Department Name</span>

        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="submit" value="Logout" />
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        </form>
    </header>
</div>
</body>
</html>
